/* jamboardJS styles */

.jamboard {
	margin: 0px auto;
	background: #eeeeee;
	padding: 15px;
	width: 100%;
	text-align: center;
}

.jamboard button {
	border: 1px #ffffff solid;
	background: #bbbbbb;
	border-radius: 5px;
	padding: 0px;
	margin: 2px;
	width: 20px;
	height: 20px;
}