@import url(http://fonts.googleapis.com/css?family=Autour+One);

body {background: #ffffff;}
html, body, p, h1, h2, h3 {font-family:"Autour One", "arial"; font-weight:300;}

@media (min-width: 1px) and (max-width: 320px) {
	code, p, li, input[type="text"] {font-size:65%;}
	h2, h3 {font-size: 80%; margin: 2px 0;}

	.jumbotron {font-size:80%;}
	.medpad {padding: 30px 10px;}
}

@media (min-width: 321px) and (max-width: 600px) {
	code, p, li,  input[type="text"] {font-size:85%;}
	h2, h3 {font-size: 90%;margin: 5px 0;}

	.jumbotron {font-size:90%;}
	.medpad {padding: 50px 20px;}
}

@media (min-width: 601px) {
	code, p, li,  input[type="text"] {font-size:100%;}
	h2, h3, {font-size:120%;}

	.medpad {padding: 120px 20px;}
}

.container{padding:5px;}
.code{background:#000000; width:100%; padding: 20px;}
.noround {border-radius:0;}
.grid {line-height: .1em; margin: 0; padding: 0; font-size: 20px;}
.font-black {color:#000000;}
.bgcolor-darkgrey {background: #343434; color: #ffffff;}
.bgcolor-green {background: #27ae60; color: #ffffff;}

